# Archivo de acceso a base de datos PostgreSQL
# Copiar a .docker/db-access.env
# cp docs/db-access.env.example .docker/db-access.env

# Password de PostgreSQL
# IMPORTANTE: Debe ser el mismo valor que en odoo.env y db-creation.env
PGPASSWORD=CAMBIAR_ESTO_POR_PASSWORD_DB_SEGURO
